/* Styling for the About Component */
.about-container {
  text-align: center;
  padding: 20px;
}

.about-container h1 {
  font-size: 2.58em;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.about-container p {
  font-size: 1em;
  color: #ddd;
  margin-bottom: 10px;
}

.about-container blockquote {
  font-size: 0.42em;
  color: #aaa;
  font-style: italic;
}
